RewriteEngine On
RewriteBase /

RewriteRule ^winkelwagen/?$ cart.php [L,QSA]
RewriteRule ^account/?$ account/index.php [L,QSA]
RewriteRule ^inloggen/?$ account/login.php [L,QSA]
RewriteRule ^registreren/?$ account/register.php [L,QSA]