.cartContainer {
    display: flex;
    width: 66.6666666667% !important;

    .cartItem {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        border: 1px solid #0000A3;
        border-radius: 10px;
        padding: 20px;

        img {
            width: 160px;
        }
    }
}